body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: relative;
  overflow-y:hidden;
}

html{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (max-width: 767px) {
  html,body{
      background-attachment:scroll;
      margin:0;
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
